*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: rgb(46, 46, 46);
    color: white;
}
h1{
    font-size: 1.5rem;
}
h1 span, .active:hover{
    color: orange;
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    font-size: 1rem;
}
.body{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: left;
    margin-top: 50px;
    font-family: sans-serif;
    text-align: justify;
}
.left p{
    font-size: 15px;
    padding-right: 50px;
    white-space: wrap;
}
button{
    color: black;
    background-color: orange;
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 200px;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
img{
    width: 70%;
    height: 80%;
}
.menu-bar{display: none;
    align-items: center;
}
@media (max-width: 725px) {
    header{
        padding: 10px 30px;
    }
    ul{display: none;}
    .menu-bar{
        display: flex;
    }
    .right{
        display: none;
    }
    .left{
        width: 100%;
    }
}