*{
    margin:0;
}

div{
    width: 80%;
    height: 500px;
    background-color: sienna;
    display: grid;
    grid-template-areas: "header header header header"
    "nav cont cont cont"
    "foot foot foot foot";
    gap: 10px;
}

#head{
    background-color: yellow;
    grid-area: header;
}

#nav{
    background-color: black;
    grid-area: nav;
}

#cont{
    background-color: mediumblue;
    grid-area: cont;
}

#foot{
    background-color: springgreen;
    grid-area: foot;
}